#first-header a 
{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#first-header a:hover
{
  text-decoration: underline;
}

#first-header
{
    background: rgb(4 60 129);
    color: white;
    display: flex;
}
#first-header div
{
    padding: 20px;
}

#second-header
{
    background: rgb(4 60 129);
    color: white;
    flex-flow: column;
}
#second-header p, #second-header h2
{
    padding: 10px 100px;
}
#second-header h2
{
    font-weight: 550;
}