body
{
  font-family:sans-serif;
  margin: 0;
}
a 
{
  color: rgb(0,106,178);
  font-weight: bold;
  text-decoration: none;
}

h2
{
  font-weight: 550;
}

body div
{
  padding: 10px;
}
header
{
  padding-left: 100px;
}
main
{
  margin: 50px 10%;
}
footer
{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  background: rgb(242,242,242);
  margin-top: 150px;
  padding-top: 50px;
}

.articles
{
    display: flex;
}
button
{
  background: rgb(0,106,178);
  border: none;
  color: white;
  padding: 12px 10px;
  margin: 0 10px 0 0;
  font-weight:bold;
  cursor: pointer;
}
button:hover
{
  background:rgb(0,95,160);
}
#name
{
  font-size:14pt;
} 

article
{
    padding: 0 50px 0 0;
}
h3
{
    font-weight: 550;
}